*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header {
    height: 100px;
    background-color: RGB(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-position: top;
    background-size: 30%;
    position: relative;
}

h1 {
    margin-top: 15px;
    font-size: 40px;
}

#logo {
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 0;
    background-size: 100%;
    background-image: url(../img/logo.svg); 
    background-repeat: no-repeat;
    background-position: left bottom;
}

#article-details {
    color: darkgray;
    font-weight: bold;
}

#blue-text {
    color: RGB(78, 160, 255);
}
#article-date {
    color: darkgray;
    font-size: 12px;
    margin-bottom: 15px;
}

figcaption{
    font-size: 14px;
    margin-bottom: 15px;
}

.highlightme {
    background-color: yellow ;
}